@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HindSiliguri-Regular.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format("woff2");
}
