.discounts {
  margin-top: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & .left-box-2 {
    background: rgb(217, 67, 201);
    background: linear-gradient(
      90deg,
      rgba(217, 67, 201, 1) 0%,
      rgba(0, 139, 240, 1) 35%
    );
    width: 555px;
    height: 296px;
    display: flex;
    align-items: center;

    &-left {
      padding: 75px 0 75px 35px;
      color: #fff;

      & h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        opacity: 60%;
        text-transform: uppercase;
      }

      & h3 {
        font-size: 31px;
        font-weight: 600;
        line-height: 40px;
      }

      & h5 a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
      }
    }
  }
}
