.nav__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;

  & .nav-imgs {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    & a {
      color: #000;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
    }
  }
}
